.revenue-section {
  padding: 35px 0 285px 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  color: white;
  background: #121921;
}

.revenue-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.revenue-icon img {
  width: 80px;
  height: 80px;
}

.item-list > div {
  display: flex;
  flex-direction: column;
}

.item-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-list h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
  background: linear-gradient(
    to bottom,
    #41d0dd 0%,
    #41d0dd 40%,
    #4298ff 60%,
    #4298ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-list p {
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  color: white;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .revenue-section {
    padding: 40px 0 60px 0;
  }

  .item-list {
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
  }

  .item-list div p {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
  }

  .revenue-icon img {
    width: 30px;
    height: 30px;
  }

  .item-list h1 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .item-list h1 {
    font-size: 16px;
  }

  .item-list div p {
    font-size: 7px;
  }

  .revenue-icon img {
    width: 20px;
    height: 20px;
  }
}