@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@font-face {
  font-family: Recoleta;
  src: url("/font/Recoleta.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Recoleta;
}

body {
  overflow-x: hidden;
}

.mainContainer {
  max-width: 1440px;
  width: 90%;
  margin: auto;
}
